</div>

<hr class="hide" />

<div id="footer"><div class="wrap">
	<p>&copy; Copyright 2008, Nitobi Software, all rights reserved <span class="sep">|</span> <a href="mailto:sales@nitobi.com">sales@nitobi.com</a> <span class="sep">|</span> +1 (604) 685-9287</p>

	<p class="socialites">
		Nitobi on: <a href="http://www.facebook.com/pages/Nitobi-Software/5948204158">Facebook</a> <span class="sep">|</span> 
		<a href="http://twitter.com/nitobi">Twitter</a> <span class="sep">|</span> 
		<a href="http://www.flickr.com/photos/tags/nitobi/">Flickr</a> <span class="sep">|</span> 
		<a href="http://planet.nitobi.com/">Planet Nitobi</a> <span class="sep">|</span> 
		<a href="http://www.nitobi.com/news/rss/" class="rss">RSS</a>
	</p>
</div></div><!-- /footer -->
</div></div><!-- /container -->
<div id="grid-overlay"></div>
</body>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js" type="text/javascript"></script>
<script src="http://www.nitobi.com/script/site-ui.js" type="text/javascript"></script>
<script src="http://blogs.nitobi.com/assets/sh.js" type="text/javascript"></script>
</html>