<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
  	<title>Andrew Lunny&#039;s Blog @ Nitobi: {{ page.title }}</title>
  	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  	<meta name="robots" content="all" />
	
  	<link rel="stylesheet" type="text/css" href="http://www.nitobi.com/css/default.css" media="screen" />
  	<link rel="stylesheet" type="text/css" href="http://www.nitobi.com/css/dev.css" media="screen" />
  	<link rel="stylesheet" type="text/css" href="http://blogs.nitobi.com/assets/sh.css" media="screen" />

    <link rel='index' title='Andrew Lunny&#039;s Blog @ Nitobi' href='/andrew' />
    <link rel="alternate" type="application/rss+xml" title="Andrew Lunny&#039;s Blog @ Nitobi RSS Feed" href="/andrew/feed/" />
  
    <!-- TODO: start and next-->
    <!-- <link rel='start' title='{{ page.title }}' href='http://blogs.nitobi.com/andrew/2009/07/28/phonegap-iphone-javascript-gotcha-1-json/' />
    <link rel='next' title='PhoneGap Blackberry on OS X' href='http://blogs.nitobi.com/andrew/2010/01/30/phonegap-blackberry-on-os-x/' /> -->
  </head>


<body class="second-level" id="blog">

<div id="accessibility">
	<a href="#nav">Skip to Navigation</a> |
	<a href="#mainContent">Skip to Content</a>
</div>
<hr class="hide" />

<div id="container"><div class="container-wrap">

	<div id="header"><div class="wrap">
		<dl>
			<dt class="logo"><strong><a href="http://www.nitobi.com/">Nitobi</a></strong></dt>
			<dd class="tagline">Built for People</dd>
		</dl>
		<div id="main-nav">
			<ul class="nav current-home">
				<li class="products"><a href="http://www.nitobi.com/products">Products</a></li>
				<li class="services"><a href="http://www.nitobi.com/services">Services</a></li>
				<li class="support"><a href="http://www.nitobi.com/support">Support</a></li>
				<li class="casestudies"><a href="http://www.nitobi.com/casestudies">Case Studies</a></li>
			</ul>
		</div><!-- /main-nav -->
		<div id="site-nav">
			<ul class="nav">
				<li class="home"><a href="http://www.nitobi.com/">Home</a></li>
				<li class="about"><a href="http://www.nitobi.com/about">About</a></li>
				<li class="contact"><a href="http://www.nitobi.com/contact">Contact</a></li>
			</ul>
		</div><!-- /site-nav -->
	</div></div><!-- /header -->
	
	<hr class="hide" />

  <div id="sub-header"><div class="wrap">
  	<div id="customer-login">
  		<a href="http://www.nitobi.com/account/login" class="ui">Customer Login</a>
  	</div><!-- /customer-login -->
  	<div id="search-field">
  		<form action="http://www.nitobi.com/search" method="get">
  			<span class="left"></span>

  			<input type="text" name="q"/>
  			<span class="right"></span>
  		</form>
  	</div><!-- /search-field -->

  	<h1>Blogs</h1>
	
  </div></div><!-- /sub-header -->

  <hr class="hide" />