<div class="col2">
  <a href='https://developer.mozilla.org/en/JavaScript/Reference/Global_Objects/Array' title='JavaScript JS Documentation: JS Array concat, JavaScript Array concat, JS Array .concat, JavaScript Array .concat'><img src='http://static.jsconf.us/promotejshs.png' height='150' width='180' alt='JavaScript JS Documentation: JS Array concat, JavaScript Array concat, JS Array .concat, JavaScript Array .concat'/></a>
  <br><br>
	<h3>Pages</h3>
	<ul>
	  <!-- xTODO:  list pages -->
	  <li class="page_item page-item-2"><a href="{{ site.site_root }}/about/" title="About">About</a></li>
	</ul>

	<h3>Categories</h3>
		<ul class="tertiary-nav">
		  {% for category in site.categories %}
		    <li class="cat-item"><a href="{{ site.site_root }}/category/{{ category | first }}">{{ category | first }}</a> ({{ category | last | size }})</li>
      {% endfor %}
		</ul>
		
	<p><a href="http://www.twitter.com/alunny">@alunny</a></p>
</div>
